/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark background */
    color: #FFFFFF; /* White text */
}

header {
    background-color: #000000; /* Black header background */
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
}

.menu li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}

.main {
    padding: 20px;
}

.movie {
    display: flex;
    margin: 20px 0;
}

.poster img {
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.details {
    margin-left: 20px;
}

.details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.player video {
    width: 100%;
    max-width: 800px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
}
